


<div id="backdrop">
  <div id="main"></div>
</div>


<script type="text/javascript">
  $(function(){
    var signInBackdropUrl = "<%= asset_path('beautiful-landscape-wallpaper.jpg') %>";
    Sparklr.initialize(signInBackdropUrl);
    Sparklr.defaultProfileImage = "<%= asset_path('profile_default.png') %>";
    Sparklr.defaultCoverImage = "<%= asset_path('cover_default.png') %>";
  });
</script>
