<ul class='nav-menu'>
  <li class='logo-container group'><a href="#" class='main-logo'>sparklr</a></li>
  <% if (Sparklr.currentUser.isSignedIn()) { %>
    <li class='group personal-link'>
      <a class='personal-link'>You</a>
      <div class='nav-dropdown-container'>
        <ul class='personal-nav-list'>
          <!-- <li class='personal-link'><a href="#">Camera Roll</a></li> -->
          <li class='personal-link'><a href="#/photostream">Photostream</a></li>
          <li class='personal-link'><a href="#">Albums</a></li>
          <li class='personal-link'><a href="#/favorites">Favorites</a></li>
        </ul>
      </div>
    </li>
  <% } %>
  <li class='group explore-link'>
    <a class='explore-link'>Explore</a>
    <div class='nav-dropdown-container'>
      <ul class='explore-nav-list'>
        <li class='personal-link'><a href="#/photos/recent">Recent Photos</a></li>
        <!-- <li class='personal-link'><a href="#">Galleries</a></li> -->
      </ul>
    </div>
  </li>

  <li class='group'><a class='upload-link'>Upload</a></li>
</ul>

<div class="nav-right">

  <div class="search-bar group">
    <form class="search">
      <input type="text" class="search-query" placeholder="search...">
      <div class="search-dropdown">
        <a class='search-option search-by-album-and-photo'>Search by album and photo</a>
        <a class='search-option search-by-user'>Search by user</a>
      </div>
    </form>
  </div>

  <div class='user-menu-container'>
    <% if (Sparklr.currentUser.isSignedIn()) { %>
        <img class='profile-pic group' src='<%=Sparklr.currentUser.get('profile_pic_url')%>'>
        <div class="nav-dropdown-container">
          <div class='settings-dropdown-container'>
            <h2>Hi, <%= Sparklr.currentUser.escape('fname') %></h2>
            <a class='edit-user-info' href='#/user/edit'>Settings</a>
            <button id="sign-out">Sign Out</button>
          </div>
        </div>
    <% } else { %>
      <div class="sign-in">
        <button id="sign-in">Sign In</button>
      </div>
    <% } %>
  </div>
</div>
