<input type="text" class="query">
<button class="search">Search</button>

<section class="results">
  <% results.each(function (result) { %>
    <article>
      <% if (result instanceof Sparklr.Models.User) { %>
        <%= result.escape("email") %>
      <% } else { %>
        <%= result.escape("title") %>
        <% if (result instanceof Sparklr.Models.Album) { %>
          <img src="<%= result.escape('cover_thumbnail_url') %>">
        <% } else { %>
          <img src="<%= result.escape('image_url') %>">
        <% } %>
      <% } %>
    </article>
  <% }) %>
</section>
