img.photo-thumbnail {
}

ul.photo-list {
  width: 80%;
  margin: 0 auto;
}

li.photoIndexItem {
  float: left;
  margin: 5px;
  position: relative;
}

li.photoIndexItem div.photo-info {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: black;
  background: #eee;
  opacity: .2;
  transition: opacity .5s;
}

li.photoIndexItem:hover div.photo-info {
  opacity: .7;
  transition: opacity .5s;
}

div.button-set {
  display: none;
  position: absolute;
  top: 2px;
}

li.photoIndexItem:hover div.button-set {
  display: block;
}

div.button-set > button {
  float: right;
  background: transparent;
  border: none;
  border-radius: 5px;
  margin-top: 2px;
}

div.button-set > button:hover {
  background: #ccc;
  border: 1px solid #aaa;
  border-right: none;
  transition: background .3s, border .3s;
}

div.album-cover-container {
  min-width: 800px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

div.album-show-container {
  min-width: 600px;
  margin: 0 auto;
  position: relative;
}

div.album-cover-shade {
  width: 100%;
  height: 300px;
  background: black;
  opacity: .6;
  position: absolute;
  z-index: 10;
}

div.album-cover-container h1,
div.album-cover-container h2,
div.album-cover-container input,
div.album-cover-container > div.album-info {
  width: 100%;
  text-align: center;
  z-index: 20;
  color: white;
  position: absolute;
}

div.album-cover-container input {
  background: transparent;
  border: none;
  outline: none;
}

img.album-cover-photo {
  width: 100%
}

h1.album-title,
div.album-title input.album-title {
  font-size: 36px;
  font-weight: 600;
  top: 30px;
}

h2.album-description,
div.album-description input.album-description {
  top: 100px;
}

div.album-info {
  top: 140px;
  font-size: 14px;
}

div.album-info > h3.album-creator:before {
  content: "·";
  margin: 0 10px;
}

div.album-info > h3 {
  display: inline;
}

a.return-to-albums,
div.album-cover-container button.delete-album {
  position: absolute;
  z-index: 20;
  opacity: .3;
  background: #eee;
  transition: opacity .3s;
}

div.album-cover-container button.delete-album {
  left: 120px;
  border: 3px solid #660000;
}

a.return-to-albums {
  border: 3px solid #add8e6;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

a.return-to-albums:active,
div.album-cover-container button.delete-album:active {
  background: #aaa;
}

div.album-cover-container:hover a.return-to-albums,
div.album-cover-container:hover button.delete-album {
  opacity: 1;
  transition: opacity .3s;
}
