// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.albumIndexItem {
  float: left;
  display: block;
  margin: 20px;
}

img.album-thumbnail {
}

ul.album-list {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
