// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.albumIndexItem {
  float: left;
  display: block;
  margin: 20px;
}

img.album-thumbnail {
}

ul.album-list {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

div.index > h1 {
  background: red;
  color: white;
  text-align: center;
}

div.index > h1 + div.album-show-container button.open-form {
  margin: 0 auto;
}
