<section class="form-modal is-active">
  <article class="form-content">
    <p>
      Are you sure you want to delete this photo?
      Doing so deletes it from all albums.
      If you just want to remove this from the album, click 'Set Albums' below.
    </p>
    <button class="delete-photo">Yes I want to delete this photo</button>
    <button class="close-delete-modal">Cancel</button>
  </article>
  <div class="modal-screen"></div>
</section>
