<div class="photo-info">
  <h1 class='photo-title'><%= photo.escape('title') %></h1>
  <h2 class='photo-uploader'><%= photo.get('uploader') && photo.get('uploader').email %></h2>
  <p class='photo-desc'>
    "<%= photo.escape('description') %>"
  </p>

  <button class='add-to-album'>Add to albums?</button>

  <section class="form-modal">
    <article class="form-content">
      <form class="choose-albums"></form>
      <button class="close-album-form">Cancel</button>
    </article>
    <div class="modal-screen"></div>
  </section>
</div>
