<div class="photo-info">
  <h1 class='photo-title'><%= photo.escape('title') %></h1>
  <h2 class='photo-uploader'><%= photo.get('uploader') && photo.get('uploader').email %></h2>
  <p class='photo-desc'>
    "<%= photo.escape('description') %>"
  </p>
  <div class="user-photo-buttons">
    <button class='add-to-album'>Edit Album Membership?</button>
    <button class='favorite-picture'>Fave?</button>
  </div>

  <section class="form-modal">
    <article class="form-content">
      <form class="choose-albums">
        <div class="choices"></div>
      </form>
      <button class="close-album-form">Cancel</button>
    </article>
    <div class="modal-screen"></div>
  </section>
</div>
