div.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

div.footer-container h1 {
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 12px;
  padding: 10px 0;
}
