button.open-form, button.close-form {
  display: none;
}

button.visible {
  display: block;
}

div.album-form-container {
  position: relative;
  z-index: 10;
}

.form-modal {
  display: none;
  width: 100%;
}

.form-modal.is-active {
  display: block;
}

.modal-screen {
  background: black;
  opacity: .8;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.form-content {
  position: fixed;
  z-index: 1000;

  top: 20%;
  left: 25%;
  right: 25%;

  background: #eee;
  border-radius: 3px;
  border: 2px solid #aaa;
  padding: 20px;
}

article.form-content{
  color: black;
}

form > input,
form > label,
form > textarea {
  display: block;
}

button.close-form {
  float: left;
}

input.submit-form {
  float: left;
}
