.user-cover-container {
 width: 100%;
 border-bottom: 1px solid #ccc;
 background: white;
 font: helvetica;
}

.user-cover-main {
  background: image-url('cover_default.png');
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.user-cover-stuff > img.profile-pic {
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.user-cover-stuff {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  color: white;
}

.user-cover-info {
  position: absolute;
  bottom: 40px;
  left: 130px;
  z-index: 1;
}

.user-cover-info > h1,
.user-cover-info > h2 {
  display: inline;
}

.user-cover-info > h1 {
  font-size: 36px;
}

.user-cover-info > h2 {
  font-size: 16px;
}

.user-cover-stats {
  position: absolute;
  bottom: 40px;
  right: 0;
}

.user-cover-nav {
  height: 50px;
  max-width: 750px;
  min-width: 400px;
  background: white;
  margin: 0 auto;
}

.user-cover-nav > a {
  padding: 15px 60px;
  font-size: 16px;
  font-weight: lighter;
  display: block;
  float: left;
  border-bottom: 3px solid transparent;
}

.user-cover-nav > a:hover {
  border-color: #0091DC;
  transition: border .5s;
}
