<div class="edit-form-container">

  <h3><%= Edit Info %></h3>

  <form>
    <label for='email'>Email</label>
    <input
      type='text'
      id='email'
      name='user[email]'
      value='<%= user.escape('email') %>'>

    <label for='password'>Password</label>
    <input
      type='password'
      id='password'
      name='user[password]'>

    <label for='fname'>First Name</label>
    <input
      type='text'
      id='fname'
      name='user[fname]'
      value='<%= user.escape('fname') %>'>

    <label for='input-prof-pic'>Profile Picture</label>
    <input id="input-prof-pic" type="file" name="user[profile-pic]">
    <img src="" id="preview-post-image" width="100">
    <label for="description">Description</label>


    <button><%= button_text %></button>
  </form>
</div>
