<div class="edit-form-container">

  <h3>Edit Info</h3>

  <form>
    <label for='email'>Email</label>
    <input
      type='text'
      id='email'
      name='user[email]'
      value='<%= user.escape('email') %>'>

    <label for='password'>Password</label>
    <input
      type='password'
      id='password'
      name='user[password]'>

    <label for='fname'>First Name</label>
    <input
      type='text'
      id='fname'
      name='user[fname]'
      value='<%= user.escape('fname') %>'>



    <button>Submit Edits<button>
  </form>
  <!-- <label for='input-prof-pic'>Upload from your computer</label>
  <input id="input-prof-pic" type="file" name="user[profile-pic]">
  <img src="" id="preview-post-image" width="100"> -->
  <a href="photos/">Choose Buddy Icon from Sparklr Photos</label>
</div>
