<% if (status === 'new') { %>
  <% var title_text = "Create an account" %>
  <% var button_text = "Sign Up" %>
<% } else { %>
  <% var title_text = "Sign in to your account" %>
  <% var button_text = "Sign In" %>
<% } %>

<div class="auth-form-container">
  <img src="https://s1.yimg.com/rz/d/yahoo_en-US_f_p_bestfit_2x.png">
  <h2>(but not really)</h3>
  <h3><%= title_text %></h3>

  <form>
    <input
      type='text'
      id='email'
      name='user[email]'
      value='<%= user.escape('email') %>'
      placeholder='email'>

    <input
      type='password'
      id='password'
      name='user[password]'
      placeholder='password'>

    <% if (status == 'new') { %>
      <input
        type='text'
        id='fname'
        name='user[fname]'
        value='<%= user.escape('fname') %>'
        placeholder='First Name'>
    <% } %>

    <button><%= button_text %></button>
  </form>

  <% if (status == "new") { %>
    <h4>Have an account?</h4>
    <a href="/#/session/new">Sign in</a>
  <% } else { %>
    <h4>New to Sparklr?</h4>
    <a href="/#/users/new">Sign up for a new account</a>
  <% } %>
  <br>
  <a href="/auth/facebook" class='facebook-auth-link'>Sign in with Facebook</a>
</div>
