<div class="user-cover-main">
  <div class='user-cover-stuff'>
    <img class='profile-pic group' src='<%= Sparklr.currentUser.get('profile_pic_url') %>'>
    <div class="user-cover-info">
      <h1 class='group'><%= user.escape('fname') %></h1>
      <h2 class='group'><%= user.escape('email') %></h2>
    </div>
    
    <div class="user-cover-stats">
      <!-- <span>Photos</span> -->
      <span>Joined <%= user.escape('created_at') %></span>
    </div>
  </div>
</div>

<div class="user-cover-nav">
  <a class="photostream-link group" href="#/photostream">Photostream</a>
  <a class="albums-link group" >Albums</a>
  <a class="group" href="#">Favorites</a>
</div>
