div.background {
  background: #212124;
  position: relative;
}

div.image-container {
  margin: 0 auto;
  max-width: calc(80%);
}

img.focused-photo {
  display: block;
  margin: 0 auto;
  max-width: calc(100%);
}

div.photo-buttons {
  position: absolute;
  bottom: 65px;
  width: 100%;
}

a.back-to-album {
  display: block;
  color: white;
  font-size: 12px;
  margin-left: 100px;
  float: left;
  transition: color .3s;
}

a.back-to-album:hover {
  color: #ccc;
  transition: color .3s;
}

button.delete-photo-form {
  color: white;
  background: transparent;
  border: none;
  display: block;
  font-size: 12px;
  margin-right: 130px;
  float: right;
}

button.delete-photo-form:hover {
  color: red;
  cursor: pointer;
}
