// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.auth-form-container {
  float: right;
  margin: 50px 100px 50px 0;
  width: 300px;
  padding: 25px;
  border: 1px solid black;
  border-top: 10px solid #6830eb;
  background: white;
}

div.auth-form-container > img {
  margin: 0 auto;
  width: 110px;
  display: block;
}

div.auth-form-container > h2 {
  text-align: right;
}

div.auth-form-container > h2,
div.auth-form-container > h3,
div.auth-form-container > h4 {
  font-size: 12px;
  margin-top: 40px;
}

div.auth-form-container label {
  position: absolute;
  left: 50px;
  margin: -10px 0 0 0;
  color: #ccc;
  font-weight: lighter;
}

div.auth-form-container input {
  display: block;
  // width: 75%;
  border-top: none;
  border-right: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: 10px;
}

div.auth-form-container button {
  background: linear-gradient(to right,#4b1c99 0,#6830eb 100%);
  margin-top: 30px;
  width: 300px;
  height: 40px;
  color: white;
  font-size: 1.00em;
}

div.auth-form-container a {
  color: blue;
}

div.auth-form-container a:hover {
  color: purple;
}

div.auth-form-container a.facebook-auth-link {
  display: block;
  background: blue;
  border-top: 2px solid #ccc;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 2px solid #ccc;
  color: white;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

div.auth-form-container a.facebook-auth-link:active {
  border-top: 1px solid #aaa;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 1px solid #aaa;
}

div.sign-in-warning {
  background: red;
  width: 100%;
}

h4.sign-in-warning {
  color: white;
  width: calc(100% - 100px);
  text-align: right;
}
