/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h1, h2, h3,
 h4, h5, h6, div, ul, li,
 label, a, nav, img, button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: content-box;
   background: transparent;
   font-family: sans-serif;
 }

 html, body {
   height: 100%;
 }

 div#backdrop{
   padding: 50px 0 50px 0;
   min-height: calc(100% - 85px);
   overflow: auto;
   position: relative;
   background: #eee;
 }

 ul {
   list-style: none;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 button {
   /*border: 3px solid #add8e6;*/
   background: rgba(0,0,0,.5);
   color: #fff;
   border-radius: 3px;
   padding: 4px 8px;
   font-size: 12px;
   cursor: pointer;
 }

 button:active {
   background: #aaa;
 }
