div#main-navbar-container {
  background: black;
  color: white;
  width: 100%;
  height: 50px;
  position: fixed;
}

nav.main-navbar {
  position: absolute;
  height: 50px;
  width: 80%;
  min-width: 500px;
  margin: 0 auto 0 130px;
}

ul.nav-menu {
  position: relative;
}

ul.nav-menu > li {
  float: left;
  margin: 15px 15px;
  font-size: 16px;
  transition: color .5s;
}

ul.nav-menu > li:hover {
  cursor: pointer;
  color: #ccc;
  transition: color .5s;
}

ul.nav-menu > li.logo-container {
  margin: 8px;
  font-weight: 900;
}

a.main-logo {
  font-size: 28px;
}

ul.personal-nav-list {
  display: none;
  color: blue; //light blue
  position: absolute;
  background: white;
  transform: translateX(-70px) translateY(5px);
  border: 2px solid blue; // light blue
  border-radius: 5px;
}

li.personal-link:hover ul.personal-nav-list:before {
  content: "";
  border-top: 5px;
}

li.personal-link:hover ul.personal-nav-list {
  display: block;
}
