.user-cover-container {
  background: image-url('cover_default.png');
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.user-cover > img.profile-pic {
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.user-cover {
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  color: white;
}

.user-cover-info {
  position: absolute;
  bottom: 40px;
  left: 130px;
  z-index: 1;
}

.user-cover-info > h1,
.user-cover-info > h2 {
  display: inline;
}

.user-cover-info > h1 {
  font-size: 36px;
}

.user-cover-info > h2 {
  font-size: 16px;
}

.user-cover-stats {
  position: absolute;
  bottom: 40px;
  right: 0;
}
