<input type="text" class="query" placeholder="Photos, people, or albums">
<button class="search photo-album-search">Search</button>
<button class="search user-search">Search For Users</button>

<ul class="results group"></ul>
