<ul class='nav-menu'>
  <li class='logo-container group'><a href="#" class='main-logo'>sparklr</a></li>
  <li class='group'><a class='personal-link'>You</a></li>
  <li class='group'><a class='explore-link'>Explore</a></li>
  <li class='group'><a class='upload-link'>Upload</a></li>
</ul>

<img class='profile'>
