<ul class='nav-menu'>
  <li class='logo-container group'><a href="#" class='main-logo'>sparklr</a></li>
  <% if (Sparklr.currentUser.isSignedIn()) { %>
    <li class='group personal-link'>
      <a class='personal-link'>You</a>
      <div class='nav-dropdown-container'>
        <ul class='personal-nav-list'>
          <!-- <li class='personal-link'><a href="#">Camera Roll</a></li> -->
          <li class='personal-link'><a href="#/photostream">Photostream</a></li>
          <li class='personal-link'><a href="#">Albums</a></li>
          <li class='personal-link'><a href="#">Favorites</a></li>
        </ul>
      </div>
    </li>
  <% } %>
  <li class='group explore-link'>
    <a class='explore-link'>Explore</a>
    <div class='nav-dropdown-container'>
      <ul class='explore-nav-list'>
        <li class='personal-link'><a href="#">Recent Photos</a></li>
        <li class='personal-link'><a href="#">Galleries</a></li>
      </ul>
    </div>
  </li>

  <li class='group'><a class='upload-link'>Upload</a></li>
</ul>

<% if (Sparklr.currentUser.isSignedIn()) { %>
  <div class='user-menu-container'>
    <img class='profile-pic' src='<%=Sparklr.defaultProfileImage%>'>
    <div class="nav-dropdown-container">
      <div class='settings-dropdown-container'>
        <h2>Hi, <%= Sparklr.currentUser.escape('fname') %></h2>
        <a class='edit-user-info' href='#/user/edit'>Settings</a>
        <button id="sign-out">Sign Out</button>
      </div>
    </div>
  </div>
<% } %>
