
<% if (user.id === Sparklr.currentUser.id) { %>
  <div class='album-form-container'>
    <button class="open-form visible">Create Album?</button>
  </div>

  <section class="form-modal">
    <article class="form-content">

      <button class="close-form">Cancel</button>
    </article>
    <div class="modal-screen"></div>
  </section>
<% } %>

<div class="album-show-container">

  <ul class="album-list group"></ul>

</div>
