<a href="/#/">Back to albums list</a>
<br>

<div class="album-cover-container">
  <div class="album-cover-shade"></div>
  <img class="album-cover-photo" src="<%= album.escape('cover_photo_url') %>">
  <h1 class='album-title'><%= album.escape('title') %></h1>
  <p class='album-description'><%= album.escape('description') %></p>
</div>

<ul class="photo-list"></ul>

<div class='photo-form-container'>
  <button class="open-form visible">Upload Photo?</button>
  <button class="close-form">X</button>
</div>
